// colors varibles >>
$red-color: #e14141;
$graydown-color: #ccc;
$black-color: #000;
$white-color: #fff;
$defult-color: #666666;
$gray-color: #eaeaea;
$dark-color: #333;
$dark2-color: #1f2123;
$blue-color: #5492db;
$section-color: #f8f8f6;
